@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(241 243 244);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(222 226 230);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(108 117 125 / 0.5);
}